<div class ="container-fluid">

    <form #f="ngForm">
        <div class="form-group" *ngIf="isEdit">
            <label for="id">Book Id</label>
            <input id="id" class="form-control" type="number" name="id" [(ngModel)]="book.bookId" [disabled]="isEdit">
        </div>
     
        <div class="form-group">
            <label for="title">Name</label>
            <input id ="title" type="text" class="form-control" name="title" [(ngModel)]="book.bookName" required>
        </div>

        <div class="form-group">
            <label for="author">Author</label> 
            <input id="author" type="text" class="form-control" name="author" [(ngModel)]="book.bookAuthor" required>
        </div>

        <div class="form-group">
            <label for="genre">Genre</label>
            <input id="genre" type="text" class="form-control" name="genre" [(ngModel)]="book.bookGenre" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input id ="description" type="text" class="form-control" name="price" [(ngModel)]="book.bookDescription" required>
        </div>

        <button class="btn btn-primary" type="submit" (click)="saveBook()">Submit</button>

    </form>
</div>