<div class="container-fluid">

    <div style="margin-top:75px;"></div>
    <h2>Circulations</h2>
    <form #f="ngForm">
        <div class="form-group">
            <label for="userId">User Id</label>
            <input id ="userId" type="number" class="form-control" name="firstName" [(ngModel)]="userId" required>
          </div>
          <button class="btn btn-primary" type="submit" (click)="getLibraryUser()">Submit</button>
    </form>
    <div style="margin-top:25px;"></div>
    <div *ngIf="showTable==true">
    <div class="container-fluid" *ngIf="libraryUser.bookModelList.length>0">
        <h2>User Books list</h2> 
        <table class="table table-striped">
            <thead>
                <th>
                    Book name
                </th>
                <th>
                    Author
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Description
                </th>
                <th>
                    Delete
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let book of libraryUser.bookModelList">
                    <td>
                        {{book.bookName}}
                    </td>
                    <td>
                        {{book.bookAuthor}}
                    </td>
                    <td>
                        {{book.bookGenre}}
                    </td>
                    <td>
                        {{book.bookDescription}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btnMargin" (click)="remove(book.bookId)"> <i class="fa fa-plus-square" aria-hidden="true"></i>Delete</button> 
                    </td>
                </tr>      
            </tbody>
        </table>
    </div>

    <div class="container-fluid" *ngIf="libraryUser.bookModelList.length==0">
        <h2>User has no books</h2>
    </div>
  
    <div class="container-fluid">
        <div style="padding-top :20px;">
            <button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#myModal"> <i class="fa fa-plus-square" aria-hidden="true"></i> Add Book</button>
        </div> 
    </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Book</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>  
                </div>
                <div class="modal-body">
                    <form #f="ngForm">
                        <div class="form-group">
                            <label for="bookId">Book Id</label>
                            <input id="bookId" class="form-control" type="number" name="bookId" [(ngModel)]="bookId">
                        </div>
                        <button class="btn btn-primary" type="submit" (click)="addBook()">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">       
                    <button type="button" id="closePopup" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
  
