<div class="container-fluid">

    <div style="margin-top:75px;">
    <div class="container-fluid">
        <h2>Books list</h2> 
        <table class="table table-striped">
            <thead>
                <th>
                    Book Id
                </th>
                <th>
                    Book name
                </th>
                <th>
                    Author
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Description
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>
                        {{book.bookId}}
                    </td>
                    <td>
                        {{book.bookName}}
                    </td>
                    <td>
                        {{book.bookAuthor}}
                    </td>
                    <td>
                        {{book.bookGenre}}
                    </td>
                    <td>
                        {{book.bookDescription}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#myModal" (click)="update(book)"> <i class="fa fa-plus-square" aria-hidden="true"></i>Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btnMargin" (click)="delete(book)"> <i class="fa fa-plus-square" aria-hidden="true"></i>Delete</button> 
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
  
    <div class="container-fluid">
        <div style="padding-top :20px;">
            <button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#myModal" (click)="create()"> <i class="fa fa-plus-square" aria-hidden="true"></i> Add Book</button>
        </div> 
    </div>
  
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{dialogTitle}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>  
                </div>
                <div class="modal-body">
                    <app-book [book]="selectedBook" [isEdit]="isEdit" (saveEvent)="saveBookAck($event)"></app-book>
                </div>
                <div class="modal-footer">       
                    <button type="button" id="closePopup" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 
</div>
  
