<div>
  <nav class="navbar navbar-dark bg-dark">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" style="color: aqua;" [routerLink]="['/users']" routerLinkActive="router-link-active" >Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aqua;" [routerLink]="['/books']" routerLinkActive="router-link-active" >Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: aqua;" [routerLink]="['/circulations']" routerLinkActive="router-link-active" >Circulations</a>
        </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
    </ul>
  </nav>  
  <router-outlet></router-outlet>
</div>
