<div class ="container-fluid">

    <form #f="ngForm">
        <div class="form-group" *ngIf="isEdit">
            <label for="id">User Id</label>
            <input id="id" class="form-control" type="number" name="id" [(ngModel)]="user.userId" [disabled]="isEdit">
        </div>
     
        <div class="form-group">
            <label for="name">Name</label>
            <input id ="name" type="text" class="form-control" name="name" [(ngModel)]="user.userName" required>
        </div>

        <div class="form-group">
            <label for="email">Email Id</label> 
            <input id="email" type="text" class="form-control" name="email" [(ngModel)]="user.emailId" required>
        </div>

        <button class="btn btn-primary" type="submit" (click)="saveUser()">Submit</button>

    </form>
</div>